.u-section-1 .u-sheet-1 {
  min-height: 15504px;
}

.u-section-1 .u-text-1 {
  margin: 11px auto 0;
}

.u-section-1 .u-image-1 {
  width: 533px;
  height: 300px;
  margin: 15px auto 0;
}

.u-section-1 .u-image-2 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-3 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-4 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-5 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-6 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-7 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-8 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-9 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-10 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-11 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-12 {
  width: 400px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-13 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-14 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-15 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-16 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-17 {
  width: 541px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-18 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-19 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-20 {
  width: 169px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-21 {
  width: 169px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-22 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-23 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-24 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-25 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-26 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-27 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-28 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-29 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-30 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-31 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-32 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-33 {
  width: 169px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-34 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-35 {
  width: 169px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-36 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-37 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-38 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-39 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-40 {
  width: 169px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-41 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-42 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-43 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-44 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-45 {
  width: 225px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-46 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-47 {
  width: 160px;
  height: 160px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15503px;
  }

  .u-section-1 .u-image-17 {
    width: 540px;
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 13276px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-12 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-image-16 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-17 {
    width: 340px;
    height: 188px;
  }

  .u-section-1 .u-image-22 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-24 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-25 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-26 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-28 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-29 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-30 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-31 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-37 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-38 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-39 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-41 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-42 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-43 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-46 {
    width: 340px;
    height: 191px;
  }
}